*{
  margin: 0;
  padding: 0;
}

html,
body
{
  overflow: hidden;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.Nav{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 80px;
}

.navItem{
  margin: 3px;
  background-color: #D3AA6B;
  width: 24px;
  height: 24px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 9999px;
}

.navItem > p{
  color: #FFFFFF;
  transform: translate(-8px, -30px);
}

/* .navItem.active{
  width: 14px;
  height: 14px;
  margin: 5px;
}

.navItem.active > p{
  color: #D3AA6B;
} */

#vehicule{
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 160px;
  left: 11%;
  min-width: 500px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

#vehicule > svg{
  cursor: pointer;
}

#vehicule > p{
  margin: 5px 25px 0 25px;
  font-size: 40px;
  text-transform: uppercase;
}

#donnee {
  position: absolute;
}
