*{
  margin: 0;
  padding: 0;
}

html,
body
{
  overflow: hidden;
}

#loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 5;
  transition: all .3s;
}

#loader > div {
  margin: auto;
  max-width: 700px;
  margin-top: 20%;
}

#loader > div > h2 {
  font-size: 40px;
  color: #FFFFFF;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
}

#loader > div > p {
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  text-align: center;
}


.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

h1{
  position: absolute;
  color: #FFFFFF;
  font-family: 'Squada One', cursive;
  max-width: 500px;
  top: 70px;
  left: 11vw;
  text-align: center;
  letter-spacing: 0.02em;
}

.Nav{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 80px;
}

.navItem{
  margin: 3px;
  background-color: #D3AA6B;
  width: 24px;
  height: 24px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 9999px;
  color: #FFFFFF;
}

.navItem > p{
  transform: translate(-8px, -30px);
}

.navItem.active{
  width: 14px;
  height: 14px;
  margin: 8px;
  margin-top: 23px;
  color: #D3AA6B;
  transition: all .3s;
}
.navItem.active > span{
  width: 24px;
  height: 24px;
  border: solid #D3AA6B 1px;
  border-radius: 99999px;
  display: block;
  position: absolute;
  transform: translate(-6px, -28px);
}

.navItem.active > p{
  transform: translate(-15px, -34px);
}

#vehicule{
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 160px;
  left: 11%;
  min-width: 500px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

#vehicule > svg{
  cursor: pointer;
}

#vehicule > p{
  margin: 5px 25px 0 25px;
  font-size: 40px;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

#donnee {
  border-radius: 10px;
  position: absolute;
  background-color: #FFFFFF0D;
  width: 30%;
  height: 70%;
  right: 8vw;
  top: 70px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #FFFFFF;
}

.swiper-slide > h2{
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  max-width: 300px;
  margin: auto;
  font-size: 24px;
  line-height: 31px;
  font-family: 'Squada One', cursive;
  letter-spacing: 0.02em;
  margin-top: 24px;
}

.swiper-slide > ul {
  margin: auto;
  list-style: none;
  max-width: 260px;
  margin-top: 20px;
}

.swiper-slide > ul > li{
  margin-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #FFFFFF solid;
}

.swiper-slide > ul > li:last-child{
  border-bottom: none;
}

.swiper-slide > ul > li > span {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.swiper-slide > ul > li > p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.slide-3 > div > svg {
  width: 100%;
}

.slide-3 > div {
  max-width: 300px;
  margin: auto;
  margin-top: 40px;
}

/* Round Chart */

.slide-2 > div{
  max-width: 300px;
  margin: auto;
}

.slide-2 > div > svg {
  width: 100%;
}

.slide-2 > div > svg > path {
  border-radius: 50%;
}

/* Loader  */

.spinner {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}